var s3ClientConfig = {
    key: '', // your access key
    secret: '', // your secret
    bucket: '' // name of bucket you wish to store gifs in
};

var bucketBaseURL = 'http://YOUR_BUCKET_URL/';

module.exports = {
    s3ClientConfig: s3ClientConfig,
    bucketBaseURL: bucketBaseURL
};