var s3ClientConfig = {
    s3Options: {
        accessKeyId: '',
        secretAccessKey: ''
    }
};

var s3ListObjectConfig = {
    recursive: false,
    s3Params: {
        Bucket: ''
    }
};

exports = module.exports = {
    s3ClientConfig: s3ClientConfig,
    s3ListObjectConfig: s3ListObjectConfig
};
