var s3ClientConfig = {
    key: '', // your access key
    secret: '', // your secret
    bucket: '' // name of bucket you wish to store gifs in
};

exports = module.exports = {
    s3ClientConfig: s3ClientConfig
};