/* views/main.html */
.giflist {
    list-style: none;
    padding: 0;
}

.giflist-item {
    display: inline-block;
    padding-left: 1em;
}

/* directive: uploader for s3 */
#hiddenFileInput {
    display: none;
}