<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="{{url}}" class="center-block"/>
        </div>
        <div class="col-md-4">
            <div class="share-box">
                <h3>Share</h3>
                <div class="share-directlink">
                    <label for="share_directURL">Direct link</label>
                    <input id="share_directURL" type="text" class="form-control" value="{{url}}" disabled>
                </div>
            </div>

            <div class="tag-box">
                <h3>Tags</h3>
                <div class="tag-list-box">
                    <ul class="tag-list list-unstyled">
                        <li ng-repeat="tag in tags">
                            <span class="label label-primary">Tag 1 <a class="delete-tag-link">X</a></span>
                        </li>
                    </ul>
                </div>
                <div class="tag-input-box input-group">
                    <input class="form-control" placeholder="Add a tag" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-default">Tag it!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
